@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .con {
        @apply container px-4 sm:px-6 md:px-10 lg:px-20 xl:px-36 mx-auto
    }

    .section {
        @apply my-14
    }
}

@layer base {
    body {
        background-color: #f9f9f9;
    }

    * {
        scrollbar-width: thin;
        scrollbar-color: #e2e2e2 #bbbbbb;
    }
    
    /* Chrome, Edge, and Safari */
    *::-webkit-scrollbar {
        width: 8px;
    }
    
    *::-webkit-scrollbar-track {
        background: #e2e2e2;
    }
    
    *::-webkit-scrollbar-thumb {
        background-color: #bbbbbb;
        border-radius: 0;
        border: 0px solid #e2e2e2;
    }
}

@layer components {
    .nuxt-content > * {
        @apply my-4
    }

    .nuxt-content h1 {
        @apply text-5xl font-bold
    }

    .nuxt-content h2 {
        @apply text-3xl font-bold
    }

    .nuxt-content h3 {
        @apply text-2xl font-bold
    }

    .nuxt-content p {
        font-size: 22px;
    }

    .nuxt-content table {
        width: 100%;
    }

    .nuxt-content table, th, td {
        border: 2px solid #cacaca;
    }

    .nuxt-content th,td {
        padding: 10px;
    }

    .nuxt-content td {
        background-color: #fff;
    }

    .icon {
        font-size: 22px;
    }
}

.nuxt-link-exact-active {
    @apply text-green-500
}
